*.class
*.xml
*.properties
*.csv
*.DS_Store

# solved. Run the following to untrack file changes without deleting them
# from the repository itself:
# 
# git update-index --assume-unchanged <file_name>
#
# works wonders!!
