*.class
*.xml
*.properties
Kaleb_Jacob_Angelica/build/built-jar.properties
Kaleb_Jacob_Angelica/dist/Kaleb_Jacob_Angelica.jar
Kaleb_Jacob_Angelica/nbproject/private/private.xml
Kaleb_Jacob_Angelica/nbproject/project.properties
